@model AdventureLabNew.Models.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<form method="post">
    <p>
        <input asp-for="@Model.Product.Id" hidden />
    </p>
    <p>
        <h2>@Model.Product.Name</h2>
        <h2>@Model.Product.Price</h2>
    </p>

    <p>
        <img src="@PathManager.ImageProductPath@Model.Product.Image" width="100" height="100" />
    </p>

    <p>
        <h3>@Model.Product.Category.Name</h3>
    </p>

    <p>
        @Html.Raw(Model.Product.Description)
    </p>

    <p>
        <a class="btn btn-dark" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back</a>

        @if (Model.IsInCart)
        {
            <button type="submit" asp-action="RemoveFromCart" asp-route-Id="@Model.Product.Id" class="btn btn-danger">Remove from cart</button>
        }
        else
        {
            <button type="submit" asp-action="AddCard" asp-route-Id="@Model.Product.Id" class="btn btn-primary">Add to cart</button>
        }

        
    </p>
</form>